/* LOAD Fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab|Ubuntu&display=swap');

$background: #EEE8D6;
$text-color: #022933;
$red:        #D14348;
$blue:       #0076A3;
$yellow:     rgb(163,  139, 0);
$darkblue:   #001e25;
$font-body:  'Roboto Slab';
$font-headings: 'Lobster';

$color-item-border: $red;
$color-media-head: $blue;